@tailwind base;
@tailwind components;
@tailwind utilities;
.loading svg {
  font-size: 5px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: text 1s ease-in-out infinite;
}

@keyframes text {
  50% {
    opacity: 0.1;
  }
}

.loading polygon {
  stroke-dasharray: 22;
  stroke-dashoffset: 1;
  animation: dash 2s cubic-bezier(0.455, 0.3, 0.515, 0.955) infinite
    alternate-reverse;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 234;
  }
}
