@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Ubuntu', sans-serif;
}
label:not(.upload-btn) {
  color: #4b5563 !important;
}
.loading svg {
  font-size: 5px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: text 1s ease-in-out infinite;
}

@keyframes text {
  50% {
    opacity: 0.1;
  }
}

.loading polygon {
  stroke-dasharray: 22;
  stroke-dashoffset: 1;
  animation: dash 2s cubic-bezier(0.455, 0.3, 0.515, 0.955) infinite
    alternate-reverse;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 234;
  }
}
.img-container {
  transition: all 0.3s ease-in-out;
}
.img-overlay {
  transition: all 0.3s ease-in-out;
}
.img-container:hover .img-overlay {
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}
.img-container:hover .upload-btn {
  bottom: 0;
  transition: all 0.3s ease-in-out;
}
